<%= form_for @invitee, :as => :invitee, :url => add_invitee_plan_path(@plan), :remote => true do |f| %>
  <div class="form-group">
    <%= f.label t('label.name') %>
    <%= f.text_field :name, :class => "form-control", :placeholder => t('placeholder.name') %>
  </div>

  <div class="form-group">
    <%= f.label t('label.email') %>
    <%= f.email_field :email, :class => "form-control", :placeholder => t('placeholder.email') %>
  </div>

  <%= f.submit t('button.add_person'), "data-disable-with" => "Adding...", :class => "btn btn-default " %>
<% end %>
