<% content_for :page_header do %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= link_to root_path do %><h1 class="page-header__logo page-header__logo--sideways">PLANiT</h1><% end %>
      <h2>Planning <strong><%= @plan.title %></strong></h2>
      <h4>Managed by <%= @plan.planner.name %></h4>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h3>What do we need to agree on to make this happen?</h3>
    <section class="particular particular--pwho">
      <header>
        <h4>Who <small>is going to attend this thing?</small></h4>
      </header>

      <div class="particular--pwho__contents particular__contents">
        <ul class="js-invitee-list particular--pwho__invite-list">
          <% @plan.people.each do |person| %>
            <li class="particular--pwho__invitee js-pwho-invitee-<%= person.id %>">
              <div class="particular--pwho__invitee__name">
                <%= person.name %>
                <% if person == @plan.planner %><i class="glyphicon glyphicon-king"></i><% end %>
              </div>
              <div class="particular--pwho__invitee__email"><%= person.email %></div>

              <% unless ((person == @plan.planner) || (@plan.is_finalized)) %>
                <%# needs to actually be a form so it can submit both plan and person params %>
                <%= link_to person, remote: true, :url => remove_invitee_plan_path, method: :delete, :class => "particular--pwho__invitee__destroy particular--pwho__invitee__control particular__control particular__control__destroy", data: {confirm: 'Are you sure?' } do %>
                  Delete <i class="glyphicon glyphicon-remove-circle js-destroy-pwhich"></i> 
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>

        <div class="particular--pwho__form js-particular-pwho-form">
        </div>
      </div>

      <div class="particular--pwho__add-new particular__add-new text-center">
        <%= link_to new_invitee_plan_path(@plan), :class => "js-add-a-person btn btn-primary", :remote => true, :method => :post do %>
          Invite someone<% if @plan.people %> else<% end %> <i class="glyphicon glyphicon-user"></i> 
        <% end %>
      </div>
    </section>

    <section class="particular particular--pwhich js-particular-pwhich">
      <header>
      <h4>Which <small>type of food are we eating, game are we playing, hobo are we murdering?</small></h4>
      </header>

      <div class="particular--pwhich__contents particular__contents js-particular-pwhich-contents">
        <div class="particular--pwhich__contents__pwhiches js-particular-pwhiches">
          <%= render partial: "pwhich", collection: @plan.pwhiches %>
        </div>
      </div>

      <div class="particular--pwhich__add-new particular__add-new text-center">
        <%= link_to attach_new_pwhich_path(@plan), :class => "js-add-a-pwhich btn btn-primary", :remote => true, :method => :post do %>
          Add a new question <i class="glyphicon glyphicon-check"></i>
        <% end %>
      </div>
    </section>

    <section class="particular particular--pwhen">
      <header>
        <h4>When <small>can we all get together to eat, play, murder hoboes?</small></h4>
      </header>
      <div class="particular--pwhen__contents particular__contents">
        <p><strong>Feature not yet built:</strong> This is a special particular for figuring out the best date and time amongst the group. Each invitee, including the planner, can select multiple ranges of dates and times. A final algorithm will find the union of all the date ranges and suggest the best time.</p>
      </div>
    </section>

    <section class="particular particular--pwhere">
      <header>
        <h4>Where <small>should we eat, play games, murder hoboes?</small></h4>
      </header>
      <div class="particular--pwhere__contents particular__contents">
        <p><strong>Feature not yet built:</strong> This is a special particular for deciding upon a location. It will use a map API to better visualize the choices available to everyone.</p>
      </div>
    </section>

    <section class="finish-plan text-center">
      <%= link_to finalize_plan_path(@plan), 'data-disable-with' => 'Taking care of business...', :class => "btn btn-lg btn-success", :method => :post do %>
        <% unless @plan.is_finalized %>
          <%= t('button.finish') %> <i class="glyphicon glyphicon-send"></i>
        <% else %>
          <%= t('button.save_no_send') %>
        <% end %>
      <% end %>
    </section>
  </div>
</div>
