<h1> heyyyy let's make a plan!</h1>

<p id="notice"><%= notice %></p>

<%= form_for @planner do |f| %>
  <%= f.label "Where can we email you your plan link?" %>
  <%= f.text_field :email %>

  <%= f.fields_for :plan do |builder| %>
    <%= render 'plan_fields', :f => builder %>
  <% end %>

  <p><%= f.submit "submit", 'data-disable-with'=> "Saving..." %></p>
<% end %>

<h2>Did you lose your plans? We'll send you an email.</h2>

<div id="reminder-form">
  <%= form_tag reminder_path, remote: true do %>
    <%= email_field "reminder", "email" %>
    <%= submit_tag "remind me" %>
  <% end %>
</div>
