<div class="page-header text-center">
  <h2>Planning things with people is difficult.<br/>
    <small>Let us help make something happen.</small></h2>
  <h1>Planit</h1>
</div>

<div class="row start-form">
  <div class="col-md-6 col-md-offset-3">

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <%= form_for @plan do |f| %>
      <%= render 'plan_fields', :f => f %>

      <%= f.fields_for @planner do |builder| %>
        <%= render 'planner_fields', :f => builder %>
      <% end %>

      <div class="form-group text-center">
        <%= f.submit t('button.add_people'), 'data-disable-with' => "Saving...", :class => "btn btn-success btn-lg" %>
      </div>
    <% end %>

  </div>
</div>


<div class="row lost-plans">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h5>Lose your plans? We can email them to you.</h5>
    <div class="lost-plans__reminder-form js-reminder-form">
      <%= form_tag reminder_path, remote: true, :class => "form-inline" do %>
        <div class="form-group form-group-sm">
          <%= email_field "reminder", "email", :class => "form-control", :placeholder => t('placeholder.email') %>
        </div>

        <div class="form-group">
          <%= submit_tag t('button.gimme_plans'), 'data-disable-with' => "Sending...", :class => "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
