<div class="row start-form">
  <div class="col-md-6 col-md-offset-3">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <%= form_for @planner do |f| %>

      <%= f.fields_for :made_plans do |builder| %>
        <%= render 'plan_fields', :f => builder %>
      <% end %>

      <div class="form-group">
        <%= f.label t('label.planner_email') %>
        <%= f.email_field :email, :class => "form-control input-lg", :placeholder => t('placeholder.email') %>
        <p class="help-block"><%= t('label.front_email_help') %></p>
      </div>

      <div class="form-group text-center">
        <%= f.submit t('button.add_people'), 'data-disable-with' => "Saving...", :class => "btn btn-success btn-lg" %></p>
      </div>
    <% end %>
  </div>
</div>


<div class="row lost-plans">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h5>Lose your plans? We can email them to you.</h5>
    <div class="lost-plans__reminder-form js-reminder-form">
      <%= form_tag reminder_path, remote: true, :class => "form-inline" do %>
        <div class="form-group form-group-sm">
          <%= email_field "reminder", "email", :class => "form-control", :placeholder => t('placeholder.email') %>
        </div>

        <div class="form-group">
          <%= submit_tag t('button.gimme_plans'), 'data-disable-with' => "Sending...", :class => "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
