<header>
  <h1><%= @plan.title %></h1>
</header>

<section>
  <h3><%= @plan.planner.email %> wants to hang out.</h3>
  <p><%= link_to "Visit this link", respond_plan_url(@token) %> to figure out the particulars.</p>
</section>

<footer>
  <h6>Brought to you by <a href="<%= t('site.url') %>"><%= t('site.name') %></a></h6>
</footer>
