<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Planit</title>
  <%= stylesheet_link_tag    'application', :media => 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolink-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Make plans with people. Easier.">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <link href='https://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="container-fluid page-header page-header__hero">
  <% if content_for?(:page_header) %>
    <%= yield :page_header %>
  <% else %>
    <div class="text-center">
      <h2>Planning things with people is difficult.<br/>
        <small>Let us help make something happen.</small></h2>
      <h1 class="page-header__logo">PLANiT</h1>
    </div>
  <% end %>
</div>

<div class="container-fluid">

  <!--[if lt IE 8]>
  <p>You are using an <strong>outdated</strong> browser.</p>
  <p>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <%= yield %>

</div>

</body>
</html>
